<div class="container-fluid p-0 bg-primary">
    <section class="feature-section p-3 p-lg-5 d-flex d-column" id="post">
        <div class="card">
            <div class="card-block">
                <h1 class="card-title">Hey there, my name is Justin.</h1>
                <div class="card-text">
                    <p>I'm a software developer based in the San Francisco Bay Area. I am most productive when I am pair programming
                        with my chihuahua.</p>
                    <p>More details to come...</p>
                    <span class="d-none d-lg-block" style="text-align: center;">
                        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="./assets/profile.jpg" alt="">
                        <p>Feel free to reach out to me at
                            <a href="mailto:hello@leejustin.com">hello@leejustin.com</a>
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </section>
</div>