<div class="container-fluid p-0 bg-primary">
    <section class="feature-section p-3 p-lg-5 d-flex d-column" id="post">
        <div class="card">
            <div class="card-block">
                <h1 class="card-title">Hey There! My Name is Justin.</h1>
                <div class="card-text">
                    <p>I'm a San Francisco Bay Area native who works as a software developer.</p>
                    <p>I have an adopted, senior chihuahua named Lucky who was found on the freeway. I am most productive when
                        I am pair programming with my chihuahua. Over time, I have grown very experienced in giving him head
                        scratches.</p>
                    <p>In my free time, I enjoy researching about finance, hiking, taking photos, or dancing. I am an avid hip
                        hop, salsa, and an aspiring Lindy Hop swing dancer.</p>
                    <p>More details to come...</p>
                    <span class="d-none d-lg-block" style="text-align: center;">
                        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="./assets/profile.jpg" alt="Hello!">
                        <p>Feel free to reach out to me at
                            <a href="mailto:hello@leejustin.com">hello@leejustin.com</a>
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </section>
</div>