<div class="container-fluid p-0 bg-primary">
    <section class="feature-section p-3 p-lg-5 d-flex d-column" id="post">
        <div class="card">
            <div class="card-block">
                <h1 class="card-title">Technology</h1>
                <div class="card-text">
                    <p>This website is currently undergoing a lot of development! For the time being, you can reference some of my personal projects on my <a href="https://github.com/leejustin">GitHub</a>.</p>
                    <p>For the curious, this website is created with Angular and open source under the MIT license. You can check out or use the source code <a href="https://github.com/leejustin/leejustin.github.io">here</a>.</p>
                    <p>- Justin</p>
                </div>
            </div>
        </div>
    </section>
</div>