
  h2 {
    font-size: 0.8rem; 
    font-weight: 800; }

  .list-social-icons a {
    color: #495057; }
    .list-social-icons a:hover {
      color: #BD897E; }
    .list-social-icons a .fa-lg {
      font-size: 1.75rem; }
  
  .list-icons {
    font-size: 3rem; }
    .list-icons .list-inline-item i:hover {
      color: #BD897E; }
  
  #sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 300;
    text-transform: uppercase; }
  
  @media (min-width: 992px) {
    #sideNav {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100vh; }
      #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem; }
        #sideNav .navbar-brand .img-profile {
          max-width: 10rem;
          max-height: 10rem;
          border: 0.5rem solid rgba(255, 255, 255, 0.2); }
      #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto; }
        #sideNav .navbar-collapse .navbar-nav {
          flex-direction: column;
          width: 100%; }
          #sideNav .navbar-collapse .navbar-nav .nav-item {
            display: block; }
            #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
              display: block; } }
  
  section.feature-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important; }
    section.feature-section .feature-item .feature-date {
      min-width: none; }
  
  @media (min-width: 768px) {
    section.feature-section {
      min-height: 100vh; }
      section.feature-section .feature-item .feature-date {
        min-width: 18rem; } }
  
  @media (min-width: 992px) {
    section.feature-section {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important; } }
  
  /*.bg-primary {
    background-color: #ececec !important; }*/
  
  .text-primary {
    color: #BD5D38 !important; }

a {
    color: #838383; }
    a:hover, a:focus, a:active {
      color: #7a7a7a; }