<div class="container-fluid">
    <section class="feature-section p-3 p-lg-5 d-flex d-column" id="blog">
        <div class="row">
            <div class="col-lg-4" *ngFor="let post of blogList?.posts">
                <div class="card">
                    <img class="card-img-top" src="//placehold.it/720x350" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>