<div class="container-fluid bg-primary">
    <section class="feature-section p-3 p-lg-5 d-flex d-column" id="blog">
        <div class="row">
            <div class="col-md-4" *ngFor="let post of blogList?.posts">
                <div class="card">
                    <img class="card-img-top" (click)="loadPost(post.id)" src="{{ getThumbnail(post.id) }}" alt="{{ post.title }}">
                    <div class="card-block">
                        <h4 class="card-title">
                            <a [routerLink]="" (click)="loadPost(post.id)">{{ post.title }}</a>
                        </h4>
                        <!--<p class="card-text">{{ post.content | slice:0:99 }}...</p>-->
                        <p class="card-text">
                            <small class="text-muted">{{ post.published | date: 'MMMM d, y' }} | {{ getCategory(post.labels) }}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>