h1 {
font-weight: 500;
color: #343a40; 
margin: 1em 0;
text-align: center;
}

hr {
display: block;
height: 10px;
border: 0;
border-top: 3px solid rgb(18, 115, 206);
margin: 1.5em 0;
padding: 0;
margin-left: 3em;
margin-right: 3em;
}

.card {
margin-left: 3.5em;
margin-right: 3.5em;
}

.card-published {
color: #8a8a8a;
text-align: center;
font-weight: 10;
}

.card-text {
margin-left: 3em;
margin-right: 3em;
}